.backgroundImage{
    margin-top: 50px;
    background-image: url('../../assets/overviewBackdroundImg.jpg');
    height: 570px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.gradient{
   
    background-image: linear-gradient(to right, rgba(9.41%, 9.41%, 9.02%, 1.00) 150px, rgba(9.41%, 9.41%, 9.02%, 0.84) 100%);
    height: 100%;
}

.content{
    
    padding-bottom: 30px;
    padding-top: 30px;
    padding-left: 40px;
    padding-right: 40px;
    /* border-radius: 8px; */
}