.search{
      
        width: 95%;
        margin: auto;
        height: 323px;
        
    
}

.title {
    padding-top: 22px;
    color: #fff
}


.searchWrapper{
    padding-top: 69px;
}

.searchBackground{
    background: url('../../assets/searchbg.jpg');   
    background-size: 100% 100%;
    margin-top: 50px;
}

.searchField {
    position: relative;
}


.searchInput{
    
        width: 99%;
        height: 33px;
        font-size: 1.1em;
        border-radius: 33PX;
        border: none;
        padding-left: 13px;
}

.searchButton{
         position: absolute;
        top: 0px;
        height: 35px;
        right: -7px;
        border-radius: 30px;
        width: 82px;
        border: none;
        background-color: aquamarine;
        font-size: 1.1em;
        color: #fff
}